{{#> layout}}
{{#*inline "head"}}
<title>Intro - Euro 2016</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">
    <h3>Willkommen zum EM 2016 Tippspiel!</h3>
    <blockquote>
        <p>Manchester City and Manchester United are two different clubs? Are you serious?</p>
        <footer>Hans K. in <cite>The Art of Football</cite></footer>
    </blockquote>

    <h4 title="Too Long. Didn't read.">TL;DR</h4>
    <ol>
        <li><a href="{{@orígin}}/me">Gebe einen Tipp ab</a> für ein Spiel deiner Wahl</li>
        <li>Schau dir das Spiel an oder warte auf das Ergebnis</li>
        <li>Schau auf den <a href="{{@origin}}/highscore">Highscore</a> nachdem die Ergebnisse fest stehen</li>
        <li><b>Hab Spaß!</b></li>
        <li>Und fang wieder bei Punkt 1 an</li>
    </ol>

    <h4>Was sind die Regeln?</h4>
    <ul>
        <li>Du kannst nichts gewinnen oder verlieren bei diesem Spiel. Es dient nur der Unterhaltung.</li>
        <li>Du kannst Wetten nur für eine ganzes Spiel abgeben.</li>
        <li>Du kannst Wetten nur bis zum Anpfiff des Spiels abgeben.</li>
        <li>Niemand außer dir kann deine Wette ansehen bis das Spiel startet.</li>
        <li>Du bekommst Punkte wenn du eine Wette auf ein Spiel abgegeben hast und das Spiel beendet ist.</li>
        <li>Du gewinnst das Spiel wenn du nach dem Finale auf Platz 1 der Highscore Liste stehst.</li>
    </ul>

    <h4>Wie bekomme ich Punkte?</h4>
    <ul>
        <li>Du bekommst <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> für eine richtige Wette ODER</li>
        <li>Du bekommst <i class="fa fa-star"></i><i class="fa fa-star"></i> für die richtige Tordifferenz ODER</li>
        <li>Du bekommst <i class="fa fa-star"></i> für den richtigen Sieger ODER</li>
        <li>Du bekommst 0 Punkte für jeden anderen Fall oder wenn du keine Wette abgeben hast.</li>
    </ul>

    <h4>Ein Beispiel</h4>
    <p>Du hast diesen Tipp abgeben: 4:3 im Spiel Deutschland - Dänemark. Du würdest folgende Punkte bekommen</p>
    <ul>
        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>, wenn das Ergebniss 4:3 wäre</li>
        <li><i class="fa fa-star"></i><i class="fa fa-star"></i>, wenn das Ergebnis 1:0, 2:1 or 3:2 ... wäre</li>
        <li><i class="fa fa-star"></i>, wenn der Gewinner Deutschland hieße</li>
    </ul>
    <p>Du hast diesen Tipp abgeben: 2:2 in einem anderen Spiel. Du würdest folgende Punkte bekommen</p>
    <ul>
        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>, wenn das Ergebnis 2:2 wäre</li>
        <li><i class="fa fa-star"></i><i class="fa fa-star"></i>, wenn das Ergebnis 0:0, 1:1, 3:3 ... wäre</li>
    </ul>

    <h4>Generelle Regeln</h4>
    <ul>
        <li>Du darfst deinen Namen in nichts angreifendes ändern.</li>
        <li>Der Game Master kann dich jeder Zeit vom Spiel ausschließen.</li>
        <li>Anfechten der Reglen ist nicht erlaubt.</li>
    </ul>

    <h4>Teile diese Seite mit deinen Freunden:</h4>
    <p>
    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/intent/tweet?hashtags=euro2016&url={{@origin}}" target="_blank">
        <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{@origin}}" target="_blank">
        <span class="fa fa-facebook"></span>
    </a>
    <a class="btn btn-social-icon btn-google" href="https://plus.google.com/share?url={{@origin}}" target="_blank">
        <span class="fa fa-google-plus"></span>
    </a>
    <a class="btn btn-social-icon btn-reddit" href="mailto:?subject=UEFA%20Euro%202016&body={{@origin}}">
        <span class="fa fa-envelope-o"></span>
    </a>
    </p>
</div>
{{/inline}}
{{/layout}}
